:root {
    --clr-primary1: hsl(213, 96%, 18%);
    --clr-primary2: hsl(243, 100%, 62%);
    --clr-primary3: hsl(228, 100%, 84%);
    --clr-primary4: hsl(206, 94%, 87%);
    --clr-primary5: hsl(354, 84%, 57%);

    --clr-neutral1: hsl(231, 11%, 63%);
    --clr-neutral2: hsl(229, 24%, 87%);
    --clr-neutral3: hsl(217, 100%, 97%);
    --clr-neutral4: hsl(231, 100%, 99%);
    --clr-neutral5: hsl(0, 0%, 100%);

    --ff-base: "Ubuntu", serif;

    --fw-regular: 400;
    --fw-semibold: 500;
    --fw-bold: 700;
}

body{
    background-color: var(--clr-primary4);
    background: url('assets/images/gaming.jpg');
    font-family: var(--ff-base);
}

img {
    width: 24px;
    height: 24px;
}
p {
    font-size: 0.75rem;
    color: var(--clr-neutral1);
}
.container {
    background-color: var(--clr-neutral5);
    padding: 1rem 1rem;
    gap: 2rem;
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidebar {
    color: #fff;
    padding: 2rem 2rem;
    width: 15rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('assets/images/bg-sidebar-desktop.svg') no-repeat;
    border-radius: 10px;
    position: relative;
}

.sidebar ul {
    counter-reset: step;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.sidebar ul li.active {
    opacity: 1;
    font-weight: bold;
}

.sidebar ul li::before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 2px solid var(--clr-neutral5);
    color: var(--clr-neutral5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-bold);
    margin-right: 1rem;
    cursor: pointer;
}

.text-group {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.sidebar ul li.active::before {
    background: var(--clr-primary4);
    color: var(--clr-primary1);
}

.sidebar ul li span {
    display: block;
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--clr-neutral1);
    font-weight: var(--fw-regular);
}

.sidebar ul li h3 {
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
    margin: 0;
    text-transform: uppercase;
}

.step2,
.step3,
.step4,
.step5 {
    display: none;
}

.form-container {
    padding: 2rem;
}
.form-container h1, h4, h5 {
    color: var(--clr-primary1);
    margin-top: 1rem;
    margin-bottom: 0;
}
.form-container p {
    color: var(--clr-neutral1);
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.next {
    color: var(--clr-neutral5);
    background-color: var(--clr-primary1);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin-left: auto;
}

.button-container .back {
    color: var(--clr-neutral1);
    background-color: var(--clr-neutral3);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin-left: 0;
}

.form-container input {
    width: 80%;
    padding: 0.7rem;
    border: 1px solid #d6d9e6;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.form-container input:focus {
    border-color: var(--clr-primary2);
    outline: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
}
.button-container:first-child {
    display: flex;
    justify-content: flex-start;
}
.plans {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.plans h4 {
    margin-top: 2rem;
}
.plans p,
.plans h5 {
    margin: 0;
    white-space: nowrap;
} 
.plan {
    border: 1px solid var(--clr-neutral1);
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    min-width: 5rem;
    max-width: 5rem;
    border-radius: 5px;
    cursor: pointer;
}
.plan:hover,
.plan.selected {
    border: 1px solid var(--clr-primary2);
}
.duration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral3);
    border-radius: 5px;
    gap: 1rem;
    margin-bottom: 3rem;
}

.toggle-option {
    font-size: 1rem;
    color: var(--clr-primary1);
    cursor: pointer;
    transition: color 0.3s;
  }
  
.toggle-switch {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: var(--clr-primary1);
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
.slider {
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
  }

.toggle-switch.active {
    background-color: var(--clr-primary2); /* Change background color when toggled */
}

.toggle-switch.active .slider {
    transform: translateX(26px);
}
  
.addon-items {
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.addon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 0.625rem;
  cursor: pointer;
  transition: border-color 0.3s;
}

.addon:hover {
  border-color: var(--clr-primary2);
  background-color: #f0f4ff;
}

.checkmark {
  height: 24px;
  width: 24px;
  border: 2px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  transition: background 0.3s ease;
}

.addon.selected .checkmark {
  border-color: var(--clr-primary2);
  background: var(--clr-primary2) url('assets/images/icon-checkmark.svg') center/cover no-repeat;
}


.addon-content {
  flex-grow: 1;
  padding: 1rem 0rem;
  justify-content: center;
  align-items: center;
}
.addon-content h5 {
    margin: 0;
}

.price {
  color: var(--clr-primary2);
  white-space: nowrap;
  font-size: 0.75rem;
  padding-left: 4rem;
}

#step-5 {
    text-align: center;
}
#step-5 img {
    width: 50%;
    height: 50%;
}
#step-5 p {
    font-size: 1rem;
}


.selected-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#change-plan {
    font-size: 0.75rem;
    color: #007bff;
    text-decoration: none;
}

#change-plan:hover {
    text-decoration: underline;
}

.price {
    font-size: 0.75rem;
    color: var(--clr-primary2);
}

hr {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 15px 0;
}

.add-ons {
    font-size: 1rem;
    color: var(--clr-neutral1);
}

.price {
    justify-content: flex-end;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: var(--fw-bold);
}

.total-price {
    font-size: 1.2rem;
    color: var(--clr-primary5);
}


@media (max-width:768px ) {
    .container,
    .form-container,
    .plans {
        display: flex;
        flex-direction: column;
    } 
    .sidebar {
        background: url('assets/images/bg-sidebar-mobile.svg') no-repeat;
    }
    .sidebar ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .text-group {
        display: none;
    }
    .plan {
        max-height: 2rem;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .plans h4 {
        margin-top: 0;
    }
    .form-container {
        margin-top: -2rem;
    }
    .form-container h1 {
        font-size: 1.5rem;
    }
}